.footer {
    padding: 100px 0;
    background: var(--navy-blue);
}

.footer-left {
    margin-right: 120px;
}

.footer-subscribe {
    margin-left: auto;
}

.footer .container {
    display: flex;
    align-items: flex-start;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-footer .accent {
    color: var(--iris);
}

.logo-footer .light {
    color: var(--cloud);
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    max-width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
}

.footer-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #ffffff;

    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social {
    margin-right: 80px;
}

.footer .social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    background-color: #4d5ae5;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-link:hover,
.footer .social-link:focus {
    background-color: #31d0aa;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-form input {
    width: 264px;
    height: 40px;

    padding-left: 16px;

    border: 1px solid #ffffff;
    border-radius: 4px;

    background-color: transparent;
    color: #ffffff;

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form input::placeholder {
    color: #ffffff;
}

.footer-form input:focus {
    border-color: #31d0aa;
    outline: none;
}

.footer-form button {
    display: flex;
    align-items: center;
    gap: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    padding: 8px 24px;

    background-color: #4d5ae5;
    color: #fff;

    border: none;
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}

.footer-form button:hover,
.footer-form button:focus {
    background-color: #31d0aa;
}

.footer-subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;

    margin-bottom: 16px;
}